.faq {
  text-align: center;
  margin-bottom: 5rem;

  h2 {
    margin-bottom: 10px;
  }
  .howItWorks,
  .safeDriving {
    display: flex;
    flex-direction: column;
    h3 {
      margin-bottom: 20px;
    }
    details {
      summary {
        font-family: var(--ff-space);
        padding: 1.5rem;
        font-size: 18px;
        font-weight: bold;

        list-style: none;
        display: flex;
        justify-content: space-between;
        &::after {
          content: "";
          width: 30px;
          height: 20px;
          scale: 0.5;
          background: url("../assets/arrow-faq.png");
          background-size: cover;

          transition: 0.5s;
        }
        &::-webkit-details-marker {
          display: none;
        }
      }
      p {
        padding: 0 1.5rem 1.5rem 1.5rem;
        margin-top: 10px;
        transition: 1000ms;
      }
      margin-bottom: 20px;
      background-color: var(--secondary-clr-lightgrey);
      text-align: left;
      &[open] summary ~ * {
        animation: sweep 500ms ease-in-out;
      }
      &[open] > summary::after {
        transform: rotate(180deg);
      }
      @keyframes sweep {
        0% {
          opacity: 0;
          transform: translateY(-30px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }
}
@media screen and (min-width: 1440px) {
  .faq {
    h2 {
      margin-bottom: 3rem;
    }
    .howItWorks,
    .safeDriving {
      flex-direction: row;
      text-align: left;
      h3 {
        width: 35%;
      }
      .howItWorks__main,
      .safeDriving__main {
        width: 65%;
      }
    }
  }
}
