.round {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.img-txt {
  margin-top: 4rem;
  display: grid;
  gap: 2rem;
  text-align: center;
  .img-txt__img {
    max-width: 80%;
    margin-inline: auto;
    position: relative;
    .circle-shadow {
      position: absolute;
      display: none;
      background-color: var(--secondary-clr-lightgrey);
    }
  }
  .img-txt__txt {
    width: 80%;
    margin-inline: auto;
    h2 {
      margin-bottom: 1rem;
    }
    p {
      text-align: center;
    }
  }
}
@media (min-width: 1440px) {
  .img-txt {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;

    .img-txt__img {
      justify-self: start;
      margin-inline: 0;
      .circle-shadow {
        display: block;
        top: 0;
        right: 35vw;
        opacity: 0.5;
      }
    }
    .img-txt__txt {
      text-align: left;
      width: 100%;
      margin-left: 100px;
      h2 {
        padding-right: 120px;
      }
      p {
        text-align: left;

        padding-right: 120px;
      }
    }
  }
}

.txt-img {
  margin-top: 4rem;
  display: grid;
  gap: 3rem;
  text-align: center;

  .txt-img__img {
    max-width: 80%;
    margin-inline: auto;
    position: relative;
    .circle-shadow {
      position: absolute;
      display: none;
      background-color: var(--secondary-clr-lightgrey);
    }
  }

  .txt-img__txt {
    width: 100%;
    margin-inline: auto;
    h2 {
      margin-bottom: 1rem;
    }
    p {
      text-align: center;
    }
  }
}

@media screen and (min-width: 1440px) {
  .txt-img {
    grid-template-columns: 1fr 1fr;
    align-items: center;

    .txt-img__img {
      justify-self: end;
      margin-inline: 0;
      order: 1;
      .circle-shadow {
        display: block;
        top: 0;
        right: -35vw;
        opacity: 0.5;
      }
    }

    .txt-img__txt {
      text-align: left;
      width: 100%;
      p {
        text-align: left;
        padding-right: 120px;
      }
    }
  }
}

.img-img-img {
  text-align: center;
  h3 {
    margin-top: 4rem;
  }
  .img-img-img__main {
    display: flex;
    flex-direction: column;
    .img-img-img__section {
      margin-top: 3rem;
      .img-img-img__section__img {
        width: 240px;
        margin-inline: auto;
        position: relative;
        .img-img-img__section__num {
          width: 96px;
          height: 96px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: var(--primary-clr-yellow);
          position: absolute;
          top: 200px;
          right: 80px;
          font-family: var(--ff-space);
          font-size: 24px;
        }
      }
      .img-img-img__section__txt {
        margin-inline: auto;
        margin-top: 80px;
        max-width: 457px;
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .img-img-img {
    .img-img-img__main {
      display: flex;
      flex-direction: row;
    }
  }
}
