.img-txt {
  margin-top: 4rem;
  display: grid;
  gap: 2rem;
  text-align: center;
  .img-txt__img {
    max-width: 80%;
    margin-inline: auto;
    position: relative;
    .circle-shadow {
      position: absolute;
      display: none;
      background-color: var(--secondary-clr-lightgrey);
    }
  }
  .img-txt__txt {
    width: 80%;
    margin-inline: auto;
    h2 {
      margin-bottom: 1rem;
    }
    p {
      text-align: center;
    }
  }
}
@media (min-width: 769px) {
  .img-txt {
    grid-template-columns: 1fr 1fr;
    align-items: center;

    .img-txt__img {
      .circle-shadow {
        display: block;
        top: 0;
        right: 35vw;
        opacity: 0.5;
      }
    }
    .img-txt__txt {
      text-align: left;
      width: 100%;
      p {
        text-align: left;
        padding-right: 120px;
      }
    }
  }
}

.txt-img {
  margin-top: 4rem;
  display: grid;
  gap: 3rem;
  text-align: center;

  .txt-img__img {
    max-width: 80%;
    margin-inline: auto;
    position: relative;
    .circle-shadow {
      position: absolute;
      display: none;
      background-color: var(--secondary-clr-lightgrey);
    }
  }

  .txt-img__txt {
    width: 80%;
    margin-inline: auto;
    h2 {
      margin-bottom: 1rem;
    }
    p {
      text-align: center;
    }
  }
}

@media screen and (min-width: 769px) {
  .txt-img {
    grid-template-columns: 1fr 1fr;
    align-items: center;

    .txt-img__img {
      order: 1;
      .circle-shadow {
        display: block;
        top: 0;
        right: -35vw;
        opacity: 0.5;
      }
    }

    .txt-img__txt {
      text-align: left;
      width: 100%;
      p {
        text-align: left;
        padding-right: 120px;
      }
    }
  }
}
.round {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
