header {
  padding-top: 3rem;
  padding-bottom: 3rem;
  position: relative;

  .header__text {
    h1 {
      color: #fff;
      text-align: center;
    }
  }
}

.header__circles {
  display: none;
}

@media screen and (min-width: 768px) {
  header {

    .header__text {

      h1 {
        text-align: left;
      }
    }
  }
  
  .header__circles {
    display: block;
    position: absolute;
    right: 0;
    top: 2.5rem;
  }
}

.about {
  background: url("../assets/about-header-bg.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.careers {
  background: url("../assets/careers-header-bg.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}
