.index__guide {
  display: grid;
  grid-template-columns: 1fr;
  margin-inline: auto;
  margin-bottom: 4rem;
}

.index__guide__img {
  width: 56px;
  align-self: center;
}

.index__guide__flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 2rem;
  margin-top: 2rem;

  .hr_container {
    position: relative;
    display: flex;
    justify-content: center;
  }

  .beautiful-line {
    display: none;
    position: absolute;
    color: var(--secondary-clr-lightgrey);
    border: 7.5px solid;
    z-index: -2;
    width: 185vw;
  }
}

@media (min-width: 768px) {
  .index__guide {
    .index__guide__flex {
      display: grid;
      grid-template-columns: 1fr 3fr;
      grid-template-rows: 1fr 3fr;
      text-align: left;
      max-height: 180px;

      .hr_container {
        justify-content: left;
        width: 100px;

        .beautiful-line {
          display: block;
          transform-origin: 100%;
          transform: rotate(90deg);
          right: 53.5px;
        }
      }

      .guide__flex__lastP {
        grid-column: 2;
        margin-top: -56px;
      }

      .index__guide__img {
        grid-row: 1/-1;
        align-self: start;
        width: 96px;
      }

      p,
      h4 {
        margin-inline: 2rem;
        max-height: 5rem;
      }
    }
  }
}

@media (min-width: 1440px) {
  .index__guide {
    display: flex;
    margin-block: 10rem;

    .index__guide__flex_first {
      margin-left: -2rem;
    }

    .index__guide__flex {
      display: flex;

      .hr_container {
        justify-content: left;

        .beautiful-line {
          display: block;
          top: calc(50% - 7.5px);
          right: 80%;
          transform-origin: 50%;
          transform: rotate(-180deg);
        }
      }

      .guide__flex__lastP {
        grid-column: 2;
        margin-top: 0px;
      }

      .index__guide__img {
        margin-left: 1.2rem;
      }
    }
  }
}

.header-index-wrapper {
  background-image: url("../assets/img-index/index-header-bg.jpg");
  background-size: cover;
  position: relative;
  .index-header {
    background-position: right;

    .index-header__txt {
      color: white;
      text-align: center;
      padding: 2rem 0 6rem 0;
      position: relative;
      max-width: 500px;

      h1 {
        margin-bottom: 1rem;
      }

      .index-header__txt__main {
        p {
          margin-bottom: 2rem;
        }

        a {
          margin-inline: auto;
          position: relative;
        }

        .arrow-header {
          transform: rotateY(180deg);
          right: 350px;
          bottom: 90px;
          z-index: 1;

          .hl1 {
            width: 180vw;
          }
        }

        .hl1-header {
          display: none;
        }
      }
    }
  }

  .index-header__circles {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header-index-wrapper {
    .index-header {
      position: relative;
      &::before {
        left: -150px;
      }

      .index-header__txt {
        .index-header__txt__main {
          .arrow-header {
            right: 450px;
            bottom: 80px;
          }
        }
      }
    }
    .index-header__circles {
      display: block;
      position: absolute;
      bottom: 40px;
      right: 0;
    }
  }
}

@media screen and (min-width: 1440px) {
  .header-index-wrapper {
    .index-header {
      position: relative;
      &::before {
        left: 700px;
        bottom: 130px;
      }

      .index-header__txt {
        width: 50%;
        text-align: left;
        z-index: 1;

        .index-header__txt__main {
          padding-left: 6rem;
          text-align: justify;

          a {
            margin-inline: 0;
          }

          .arrow-header {
            display: block;
            position: absolute;
            bottom: 225px;
            right: -400px;

            .hl1 {
              width: 330px;
            }
          }

          .hl1-header {
            display: block;
            position: absolute;
            bottom: 225px;
            right: 470px;
          }
        }
      }
    }

    .index-header__circles {
      display: block;
      position: absolute;
      bottom: 165px;
    }
  }
}
