.location__container {
  display: grid;
  text-align: center;
  margin-inline: auto;

  .map{
    margin-inline:auto;
    margin-block:10%;
    height:152px;
    width:311px;
    background: url("../assets/img-location/map-mobile.png");
    background-repeat: no-repeat;
  }

  .location__cities__container {
    display: grid;
    margin-inline:auto;
    grid-template-rows: 72px 72px 72px 72px;
    gap: 1rem;

    .location__city {
      width: 311px;
      height: 100%;
      background-color: rgba(252, 183, 43, 0.15);
      padding-block: 20px;
    }
  }

  h3 {
    margin-top: 5vh;
    margin-inline: 37vw;
  }

  p {
    margin-top: 5vh;
    margin-inline: 3vw;
  }

  .location__messageUs__container {
    
    .messageUs-button__container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-inline:auto;
      width:180px;
      min-width:180px;
      height:53px;
      background-color:var(--primary-clr-yellow);
      margin-block:5vh;
    }
   
    a {
      color: white;
    }
  }
}

@media screen and (min-width: 768px) {
  .location__container {

    .location__cities__container {
      display: none;
    }

    .map {
      height: 337px;
      width: 689px;
      background: url("../assets/img-location/map-tablet.png");
      background-repeat: no-repeat;
    }

    .location__messageUs__container {
     
      h3 {
        margin-inline: 30vw;
      }

      p {
        margin-inline: 9vw;
      }
    }
  }
}

@media (min-width: 1440px) {
  .location__container {
    display: flex;
    flex-direction: column;
    margin-inline:9vw;

    .map{
      width:1110px;
      height:543px;
      background: url("../assets/img-location/map-desktop.png");
      background-repeat: no-repeat;
    }

  .location__messageUs__container{
    display: flex;
    flex-direction: row;
    margin-block:8%;
    gap:6rem;
    width:100%;

    .messageUs-button__container{
      margin-block:auto;
    }

    h3{
      margin-top:0;
      margin-inline:0vw;
      text-align: left;
      min-width:18rem;
    }

    p{
      margin-top:0;
      margin-inline:0vw;
      text-align: left;
    }
    
  }
}

@media (max-width:1439px){
  .messageUs-button__container{
    margin-block:5vh;
  }
}
}

@media (min-width:2500px){
  .location__container {
    margin-inline: 9%;
    
}
}