:root {
  --ff-space: "Space Mono", monospace;
  --ff-lexend: "Lexend Deca", sans-serif;

  --primary-clr-yellow: #fcb72b;
  --primary-clr-navy: #495567;

  --secondary-clr-dimgrey: #939caa;
  --secondary-clr-lightgrey: #e5ecf4;
  --secondary-clr-snow: #f2f5f9;
  --secondary-clr-lightyellow: #fff4df;
}

body {
  font-family: var(--ff-lexend);
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  color: var(--primary-clr-navy);
  margin-inline: auto;
}

.wrapper {
  max-width: 100vw;
  margin-inline: auto;
  overflow-x: hidden;
}

.container {
  padding-inline: 9vw;
  max-width: 1440px;
  margin-inline: auto;
  // overflow-x: hidden;
}

.btn {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-clr-yellow);
  color: white;
  width: 180px;
  height: 53px;
}

.btn:hover {
  color: var(--primary-clr-yellow);
  background-color: white;
  border: 2px solid var(--primary-clr-yellow);
}

h1 {
  font-family: var(--ff-space);
  font-size: 56px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -2.5px;
}

h2 {
  font-family: var(--ff-space);
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2.14px;
}

h3 {
  font-family: var(--ff-space);
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -1.79px;
}

h4 {
  font-family: var(--ff-space);
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -1.07px;
}

a {
  text-decoration: none;
  color: var(--secondary-clr-dimgrey);
  font-family: var(--ff-space);
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
}

@media screen and (max-width: 767px) {
  body {
    font-size: 15px;
    line-height: 25px;
  }
  h1 {
    font-size: 40px;
    line-height: 40px;
  }
  h2 {
    font-size: 32px;
    line-height: 32px;
  }
  h3 {
    font-size: 24px;
    line-height: 28px;
  }
  h4 {
    font-size: 18px;
    line-height: 24px;
  }
}

@media (min-width: 2500px) {
  .wrapper {
    
    .container {
      padding-inline: 2vw;
    }
  }
}
