@charset "UTF-8";
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

li {
  list-style-type: none;
}

:root {
  --ff-space: "Space Mono", monospace;
  --ff-lexend: "Lexend Deca", sans-serif;
  --primary-clr-yellow: #fcb72b;
  --primary-clr-navy: #495567;
  --primary-drk-navy:#333A44;
  --secondary-clr-dimgrey: #939caa;
  --secondary-clr-lightgrey: #e5ecf4;
  --secondary-clr-snow: #f2f5f9;
  --secondary-clr-lightyellow: #fff4df;
}

body {
  font-family: var(--ff-lexend);
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  color: var(--primary-clr-navy);
  margin-inline: auto;
}

.wrapper {
  max-width: 100vw;
  margin-inline: auto;
  overflow-x: hidden;
}

.container {
  padding-inline: 9vw;
  max-width: 1440px;
  margin-inline: auto;
}

.btn {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-clr-yellow);
  color: white;
  width: 180px;
  height: 53px;
}

.btn:hover {
  color: var(--primary-clr-yellow);
  background-color: white;
  border: 2px solid var(--primary-clr-yellow);
}

h1 {
  font-family: var(--ff-space);
  font-size: 56px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -2.5px;
}

h2 {
  font-family: var(--ff-space);
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2.14px;
}

h3 {
  font-family: var(--ff-space);
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -1.79px;
}

h4 {
  font-family: var(--ff-space);
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -1.07px;
}

a {
  text-decoration: none;
  color: var(--secondary-clr-dimgrey);
  font-family: var(--ff-space);
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
}

@media screen and (max-width: 767px) {
  body {
    font-size: 15px;
    line-height: 25px;
  }
  h1 {
    font-size: 40px;
    line-height: 40px;
  }
  h2 {
    font-size: 32px;
    line-height: 32px;
  }
  h3 {
    font-size: 24px;
    line-height: 28px;
  }
  h4 {
    font-size: 18px;
    line-height: 24px;
  }
}
@media (min-width: 2500px) {
  .wrapper .container {
    padding-inline: 2vw;
  }
}
nav {
  margin-inline: auto;
  background: #fff;
  position: inherit;
  width: 100vw;
}
nav .container-nav {
  padding-inline: 9vw;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  max-width: 1440px;
  margin-inline: auto;
}
nav .container-nav input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  --web-appearance: none;
}
nav .container-nav label {
  display: none;
}
nav .container-nav .nav__logo img {
  min-width: 3rem;
  max-width: none;
}
nav .container-nav .nav__mobile-link {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .container-nav .nav__mobile-link .nav__mobile-link-left {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .container-nav .nav__mobile-link .nav__link {
  display: flex;
  list-style: none;
  gap: 1.2rem;
}
nav .container-nav .nav__mobile-link .nav__link a:hover {
  color: var(--primary-clr-yellow);
}

@media screen and (max-width: 767px) {
  nav .container-nav {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  nav .container-nav input[type=checkbox]:checked ~ .nav__mobile-link {
    left: 0;
  }
  nav .container-nav label {
    display: block;
  }
  nav .container-nav .nav__logo {
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
  }
  nav .container-nav .nav__mobile-link {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-flow: row;
    position: absolute;
    left: -100%;
    transition: 0.5s;
    z-index: 3;
    width: 100%;
    height: 100vh;
    top: 3rem;
  }
  nav .container-nav .nav__mobile-link a {
    color: white;
  }
  nav .container-nav .nav__mobile-link .nav__mobile-link-left {
    height: 100%;
    width: 100%;
    padding: 2rem;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 3em;
    background-color: var(--primary-drk-navy);
    opacity: 1;
  }
  nav .container-nav .nav__mobile-link .nav__mobile-link-right {
    height: 100%;
    width: 100%;
    background: rgb(13, 13, 16);
    opacity: 0.9;
  }
  nav .container-nav .nav__mobile-link .nav__link {
    flex-direction: column;
    gap: 1.5em;
    padding: 0;
  }
}
.sticky {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000; /* Assurez-vous que la navbar est au-dessus des autres éléments */
}

@media screen and (min-width: 2500px) {
  nav .container-nav {
    padding-inline: 2vw;
  }
}
.faq {
  text-align: center;
  margin-bottom: 5rem;
}
.faq h2 {
  margin-bottom: 10px;
}
.faq .howItWorks,
.faq .safeDriving {
  display: flex;
  flex-direction: column;
}
.faq .howItWorks h3,
.faq .safeDriving h3 {
  margin-bottom: 20px;
}
.faq .howItWorks details,
.faq .safeDriving details {
  margin-bottom: 20px;
  background-color: var(--secondary-clr-lightgrey);
  text-align: left;
}
.faq .howItWorks details summary,
.faq .safeDriving details summary {
  font-family: var(--ff-space);
  padding: 1.5rem;
  font-size: 18px;
  font-weight: bold;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.faq .howItWorks details summary::after,
.faq .safeDriving details summary::after {
  content: "";
  width: 30px;
  height: 20px;
  scale: 0.5;
  background: url("../assets/arrow-faq.png");
  background-size: cover;
  transition: 0.5s;
}
.faq .howItWorks details summary::-webkit-details-marker,
.faq .safeDriving details summary::-webkit-details-marker {
  display: none;
}
.faq .howItWorks details p,
.faq .safeDriving details p {
  padding: 0 1.5rem 1.5rem 1.5rem;
  margin-top: 10px;
  transition: 1000ms;
}
.faq .howItWorks details[open] summary ~ *,
.faq .safeDriving details[open] summary ~ * {
  animation: sweep 500ms ease-in-out;
}
.faq .howItWorks details[open] > summary::after,
.faq .safeDriving details[open] > summary::after {
  transform: rotate(180deg);
}
@keyframes sweep {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

summary:hover {
  background-color: var(--secondary-clr-lightyellow);
}

@media screen and (min-width: 1440px) {
  .faq h2 {
    margin-bottom: 3rem;
  }
  .faq .howItWorks,
  .faq .safeDriving {
    flex-direction: row;
    text-align: left;
  }
  .faq .howItWorks h3,
  .faq .safeDriving h3 {
    width: 35%;
  }
  .faq .howItWorks .howItWorks__main,
  .faq .howItWorks .safeDriving__main,
  .faq .safeDriving .howItWorks__main,
  .faq .safeDriving .safeDriving__main {
    width: 65%;
  }
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__container1 {
  background-image: url("../assets/footer-background.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  min-width: 100%;
  color: white;
  background-color: #495567;
}
.footer__container1 .container-inside-footer1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  max-width: 1440px;
  padding-inline: 9vw;
  margin-inline: auto;
}
.footer__container1 .container-inside-footer1 h2 {
  margin-top: 5.5rem;
  text-align: center;
  letter-spacing: -2.3px;
}
.footer__container1 .container-inside-footer1 .flex-logos-appstore {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 270px;
  margin-bottom: 5.5rem;
}
.footer__container1 .container-inside-footer1 .logo-appstore {
  display: flex;
  align-content: center;
  color: #495567;
  font-weight: 600;
  background-color: #e5ecf4;
  border-radius: 5px;
  gap: 1rem;
  padding-inline: 0.7rem;
  padding-block: 0.3rem;
}
.footer__container1 .container-inside-footer1 .logo-appstore p {
  font-size: 6.5px;
  line-height: 12px;
  font-family: "Space Mono", monospace;
}
.footer__container1 .container-inside-footer1 .logo-appstore p span {
  font-size: 13.06px;
  line-height: 15px;
  font-family: "Space Mono", monospace;
}
.footer__container1 .container-inside-footer1 .logo-appstore img {
  color: #495567;
}

.footer__container2 {
  min-width: 100%;
  background-color: #333a44;
}
.footer__container2 .container-inside-footer2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 1440px;
  padding-inline: 9vw;
  margin-inline: auto;
  gap: 3rem;
  color: white;
}
.footer__container2 .container-inside-footer2 .scoot-logo {
  margin-top: 76px;
}
.footer__container2 .container-inside-footer2 .links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin: auto;
  margin-bottom: 3rem;
}
.footer__container2 .container-inside-footer2 .links a {
  color: #939caa;
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
}
.footer__container2 .container-inside-footer2 .links a:hover {
  color: var(--primary-clr-yellow);
}
.footer__container2 .social-medias-logos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 120px;
  margin-bottom: 76px;
}
.footer__container2 .social-medias-logos img {
  filter: invert(71%) sepia(48%) saturate(733%) hue-rotate(347deg) brightness(103%) contrast(98%);
}
.footer__container2 .social-medias-logos img:hover {
  filter: invert(96%) sepia(2%) saturate(1058%) hue-rotate(176deg) brightness(98%) contrast(95%);
}

@media (min-width: 768px) {
  .footer__container2 .container-inside-footer2 {
    flex-direction: row;
    padding-block: 2rem;
    gap: 0rem;
  }
  .footer__container2 .container-inside-footer2 .scoot-logo {
    margin-top: 0px;
  }
  .footer__container2 .container-inside-footer2 .scoot-logo img {
    min-width: 3rem;
  }
  .footer__container2 .container-inside-footer2 .social-medias-logos {
    margin-bottom: 0px;
  }
  .footer__container2 .container-inside-footer2 .links {
    flex-direction: row;
    margin-bottom: 0rem;
    margin-left: 2rem;
  }
}
@media (min-width: 1440px) {
  .footer__container1 .container-inside-footer1 {
    flex-direction: row;
    justify-content: space-between;
  }
  .footer__container1 .container-inside-footer1 h2 {
    margin-block: 2rem;
    text-align: left;
  }
  .footer__container1 .container-inside-footer1 .logo-appstore {
    margin-block: 5rem;
    margin-bottom: 0rem;
  }
}
@media (min-width: 2500px) {
  .footer__container1 .container-inside-footer1 {
    padding-inline: 2vw;
  }
  .footer__container2 .container-inside-footer2 {
    padding-inline: 2vw;
  }
}
header {
  padding-top: 3rem;
  padding-bottom: 3rem;
  position: relative;
}
header .header__text h1 {
  color: #fff;
  text-align: center;
}

.header__circles {
  display: none;
}

@media screen and (min-width: 768px) {
  header .header__text h1 {
    text-align: left;
  }
  .header__circles {
    display: block;
    position: absolute;
    right: 0;
    top: 2.5rem;
  }
}
.about {
  background: url("../assets/about-header-bg.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.careers {
  background: url("../assets/careers-header-bg.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.index__guide {
  display: grid;
  grid-template-columns: 1fr;
  margin-inline: auto;
  margin-bottom: 4rem;
}

.index__guide__img {
  width: 56px;
  align-self: center;
}

.index__guide__flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 2rem;
  margin-top: 2rem;
}
.index__guide__flex .hr_container {
  position: relative;
  display: flex;
  justify-content: center;
}
.index__guide__flex .beautiful-line {
  display: none;
  position: absolute;
  color: var(--secondary-clr-lightgrey);
  border: 7.5px solid;
  z-index: -2;
  width: 185vw;
}

@media (min-width: 768px) {
  .index__guide .index__guide__flex {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 3fr;
    text-align: left;
    max-height: 180px;
  }
  .index__guide .index__guide__flex .hr_container {
    justify-content: left;
    width: 100px;
  }
  .index__guide .index__guide__flex .hr_container .beautiful-line {
    display: block;
    transform-origin: 100%;
    transform: rotate(90deg);
    right: 53.5px;
  }
  .index__guide .index__guide__flex .guide__flex__lastP {
    grid-column: 2;
    margin-top: -56px;
  }
  .index__guide .index__guide__flex .index__guide__img {
    grid-row: 1/-1;
    align-self: start;
    width: 96px;
  }
  .index__guide .index__guide__flex p,
  .index__guide .index__guide__flex h4 {
    margin-inline: 2rem;
    max-height: 5rem;
  }
}
@media (min-width: 1440px) {
  .index__guide {
    display: flex;
    margin-block: 10rem;
  }
  .index__guide .index__guide__flex_first {
    margin-left: -2rem;
  }
  .index__guide .index__guide__flex {
    display: flex;
  }
  .index__guide .index__guide__flex .hr_container {
    justify-content: left;
  }
  .index__guide .index__guide__flex .hr_container .beautiful-line {
    display: block;
    top: calc(50% - 7.5px);
    right: 80%;
    transform-origin: 50%;
    transform: rotate(-180deg);
  }
  .index__guide .index__guide__flex .guide__flex__lastP {
    grid-column: 2;
    margin-top: 0px;
  }
  .index__guide .index__guide__flex .index__guide__img {
    margin-left: 1.2rem;
  }
}
.header-index-wrapper {
  background-image: url("../assets/img-index/index-header-bg.jpg");
  background-size: cover;
  position: relative;
}
.header-index-wrapper .index-header {
  background-position: right;
}
.header-index-wrapper .index-header .index-header__txt {
  color: white;
  text-align: center;
  padding: 2rem 0 6rem 0;
  position: relative;
  max-width: 500px;
}
.header-index-wrapper .index-header .index-header__txt h1 {
  margin-bottom: 1rem;
}
.header-index-wrapper .index-header .index-header__txt .index-header__txt__main p {
  margin-bottom: 2rem;
}
.header-index-wrapper .index-header .index-header__txt .index-header__txt__main a {
  margin-inline: auto;
  position: relative;
}
.header-index-wrapper .index-header .index-header__txt .index-header__txt__main .arrow-header {
  transform: rotateY(180deg);
  right: 350px;
  bottom: 90px;
  z-index: 1;
}
.header-index-wrapper .index-header .index-header__txt .index-header__txt__main .arrow-header .hl1 {
  width: 180vw;
}
.header-index-wrapper .index-header .index-header__txt .index-header__txt__main .hl1-header {
  display: none;
}
.header-index-wrapper .index-header__circles {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-index-wrapper .index-header {
    position: relative;
  }
  .header-index-wrapper .index-header::before {
    left: -150px;
  }
  .header-index-wrapper .index-header .index-header__txt .index-header__txt__main .arrow-header {
    right: 450px;
    bottom: 80px;
  }
  .header-index-wrapper .index-header__circles {
    display: block;
    position: absolute;
    bottom: 40px;
    right: 0;
  }
}
@media screen and (min-width: 1440px) {
  .header-index-wrapper .index-header {
    position: relative;
  }
  .header-index-wrapper .index-header::before {
    left: 700px;
    bottom: 130px;
  }
  .header-index-wrapper .index-header .index-header__txt {
    width: 50%;
    text-align: left;
    z-index: 1;
  }
  .header-index-wrapper .index-header .index-header__txt .index-header__txt__main {
    padding-left: 6rem;
    text-align: justify;
  }
  .header-index-wrapper .index-header .index-header__txt .index-header__txt__main a {
    margin-inline: 0;
  }
  .header-index-wrapper .index-header .index-header__txt .index-header__txt__main .arrow-header {
    display: block;
    position: absolute;
    bottom: 225px;
    right: -400px;
  }
  .header-index-wrapper .index-header .index-header__txt .index-header__txt__main .arrow-header .hl1 {
    width: 330px;
  }
  .header-index-wrapper .index-header .index-header__txt .index-header__txt__main .hl1-header {
    display: block;
    position: absolute;
    bottom: 225px;
    right: 470px;
  }
  .header-index-wrapper .index-header__circles {
    display: block;
    position: absolute;
    bottom: 165px;
  }
}
.round {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.img-txt {
  margin-top: 4rem;
  display: grid;
  gap: 2rem;
  text-align: center;
}
.img-txt .img-txt__img {
  max-width: 100%;
  margin-inline: auto;
  position: relative;
}
.img-txt .img-txt__img .arrow {
  top: 0px;
  right: 170px;
  transform: rotateY(180deg);
}
.img-txt .img-txt__img .circle-shadow {
  position: absolute;
  display: none;
  background-color: var(--secondary-clr-lightgrey);
}
.img-txt .img-txt__txt {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img-txt .img-txt__txt h2 {
  margin-bottom: 2rem;
}
.img-txt .img-txt__txt p {
  text-align: center;
}
.img-txt .img-txt__txt a {
  margin-top: 2rem;
}

@media screen and (min-width: 768px) {
  .img-txt .img-txt__img .arrow {
    top: 0px;
    right: 400px;
  }
  .img-txt .img-txt__img .circle-shadow {
    display: block;
    top: 0;
    right: 500px;
    opacity: 0.5;
  }
}
@media (min-width: 1440px) {
  .img-txt {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
  }
  .img-txt .img-txt__img {
    justify-self: start;
    margin-inline: 0;
  }
  .img-txt .img-txt__txt {
    text-align: left;
    width: 100%;
    margin-left: 100px;
    align-items: flex-start;
  }
  .img-txt .img-txt__txt h2 {
    padding-right: 120px;
  }
  .img-txt .img-txt__txt p {
    text-align: left;
    padding-right: 120px;
  }
}
.txt-img {
  margin-top: 4rem;
  display: grid;
  gap: 3rem;
  text-align: center;
}
.txt-img .txt-img__img {
  max-width: 100%;
  margin-inline: auto;
  position: relative;
}
.txt-img .txt-img__img .arrow {
  transform: rotateX(180deg);
  top: 250px;
  left: 160px;
}
.txt-img .txt-img__img .circle-shadow {
  position: absolute;
  display: none;
  background-color: var(--secondary-clr-lightgrey);
}
.txt-img .txt-img__txt {
  width: 100%;
  margin-inline: auto;
}
.txt-img .txt-img__txt h2 {
  margin-bottom: 2rem;
}
.txt-img .txt-img__txt p {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .txt-img .txt-img__img .arrow {
    top: 400px;
    left: 50px;
  }
  .txt-img .txt-img__img .circle-shadow {
    display: block;
    top: 0;
    left: 500px;
    opacity: 0.5;
  }
}
@media screen and (min-width: 1440px) {
  .txt-img {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .txt-img .txt-img__img {
    justify-self: end;
    margin-inline: 0;
    order: 1;
  }
  .txt-img .txt-img__txt {
    text-align: left;
    width: 100%;
  }
  .txt-img .txt-img__txt p {
    text-align: left;
    padding-right: 120px;
  }
}
.img-img-img {
  text-align: center;
  margin-bottom: 5rem;
}
.img-img-img h3 {
  margin-top: 4rem;
}
.img-img-img .img-img-img__main {
  display: flex;
  flex-direction: column;
}
.img-img-img .img-img-img__main .img-img-img__section {
  margin-top: 3rem;
}
.img-img-img .img-img-img__main .img-img-img__section .img-img-img__section__img {
  width: 240px;
  margin-inline: auto;
  position: relative;
}
.img-img-img .img-img-img__main .img-img-img__section .img-img-img__section__img .img-img-img__section__num {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-clr-yellow);
  position: absolute;
  top: 200px;
  right: 75px;
  font-family: var(--ff-space);
  font-size: 24px;
}
.img-img-img .img-img-img__main .img-img-img__section .img-img-img__section__txt {
  margin-inline: auto;
  margin-top: 80px;
  max-width: 457px;
}
.img-img-img .img-img-img__main .img-img-img__section .img-img-img__section__txt h4 {
  margin-bottom: 1rem;
}

@media screen and (min-width: 1440px) {
  .img-img-img .img-img-img__main {
    display: flex;
    flex-direction: row;
  }
}
.txt-img-btn {
  margin-top: 4rem;
  display: grid;
  gap: 3rem;
  text-align: center;
}
.txt-img-btn .txt-img-btn__img {
  max-width: 100%;
  margin-inline: auto;
  position: relative;
}
.txt-img-btn .txt-img-btn__img .arrow {
  top: 165px;
  left: 150px;
}
.txt-img-btn .txt-img-btn__img .circle-shadow {
  position: absolute;
  display: none;
  background-color: var(--secondary-clr-lightgrey);
}
.txt-img-btn .txt-img-btn__txt {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.txt-img-btn .txt-img-btn__txt h2 {
  margin-bottom: 2rem;
}
.txt-img-btn .txt-img-btn__txt p {
  text-align: center;
}
.txt-img-btn .txt-img-btn__txt a {
  margin-top: 2rem;
}

@media screen and (min-width: 768px) {
  .txt-img-btn .txt-img-btn__img .arrow {
    top: 300px;
    left: 50px;
  }
  .txt-img-btn .txt-img-btn__img .circle-shadow {
    display: block;
    top: 0;
    left: 500px;
    opacity: 0.5;
  }
}
@media screen and (min-width: 1440px) {
  .txt-img-btn {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .txt-img-btn .txt-img-btn__img {
    justify-self: end;
    margin-inline: 0;
    order: 1;
  }
  .txt-img-btn .txt-img-btn__txt {
    text-align: left;
    width: 100%;
    align-items: flex-start;
  }
  .txt-img-btn .txt-img-btn__txt p {
    text-align: left;
    padding-right: 120px;
  }
}
.txt-img-btn2 {
  margin-top: 4rem;
  margin-bottom: 6rem;
  display: grid;
  gap: 3rem;
  text-align: center;
}
.txt-img-btn2 .txt-img-btn2__img {
  max-width: 100%;
  margin-inline: auto;
  position: relative;
}
.txt-img-btn2 .txt-img-btn2__img .arrow {
  top: 0px;
  left: 300px;
}
.txt-img-btn2 .txt-img-btn2__img .circle-shadow {
  position: absolute;
  display: none;
  background-color: var(--secondary-clr-lightgrey);
}
.txt-img-btn2 .txt-img-btn2__txt {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.txt-img-btn2 .txt-img-btn2__txt h2 {
  margin-bottom: 2rem;
}
.txt-img-btn2 .txt-img-btn2__txt p {
  text-align: center;
}
.txt-img-btn2 .txt-img-btn2__txt a {
  margin-top: 2rem;
}

@media screen and (min-width: 768px) {
  .txt-img-btn2 .txt-img-btn2__img .arrow {
    top: 100px;
    left: 440px;
  }
  .txt-img-btn2 .txt-img-btn2__img .circle-shadow {
    display: block;
    top: 0;
    left: 500px;
    opacity: 0.5;
  }
}
@media screen and (min-width: 1440px) {
  .txt-img-btn2 {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .txt-img-btn2 .txt-img-btn2__img {
    justify-self: end;
    margin-inline: 0;
    order: 1;
  }
  .txt-img-btn2 .txt-img-btn2__txt {
    text-align: left;
    width: 100%;
    align-items: flex-start;
  }
  .txt-img-btn2 .txt-img-btn2__txt p {
    text-align: left;
    padding-right: 120px;
  }
}
.arrow {
  position: absolute;
}
.arrow .hl1 {
  background-color: var(--primary-clr-yellow);
  width: 200vw;
  height: 10px;
  border: none;
}
.arrow .vl {
  background-color: var(--primary-clr-yellow);
  width: 90px;
  height: 10px;
  position: absolute;
  border: none;
  transform: rotate(90deg);
  top: 40px;
  left: -40px;
}
.arrow .hl2 {
  background-color: var(--primary-clr-yellow);
  width: 167px;
  height: 10px;
  border: none;
  position: absolute;
  top: 80px;
  left: -157px;
  border-radius: 25px 0 0 25px;
}
.arrow .dlt {
  background-color: var(--primary-clr-yellow);
  width: 50px;
  height: 10px;
  border: none;
  rotate: -50deg;
  position: absolute;
  top: 60px;
  left: -161px;
}
.arrow .dlb {
  background-color: var(--primary-clr-yellow);
  width: 50px;
  height: 10px;
  border: none;
  rotate: 50deg;
  position: absolute;
  top: 100px;
  left: -161px;
}

.arrow-header {
  position: absolute;
  pointer-events: none;
}
.arrow-header .hl1 {
  background-color: var(--primary-clr-yellow);
  width: 330px;
  height: 10px;
  border: none;
}
.arrow-header .vl {
  background-color: var(--primary-clr-yellow);
  width: 90px;
  height: 10px;
  position: absolute;
  border: none;
  transform: rotate(90deg);
  top: 40px;
  left: -40px;
}
.arrow-header .hl2 {
  background-color: var(--primary-clr-yellow);
  width: 167px;
  height: 10px;
  border: none;
  position: absolute;
  top: 80px;
  left: -157px;
  border-radius: 25px 0 0 25px;
}
.arrow-header .dlt {
  background-color: var(--primary-clr-yellow);
  width: 50px;
  height: 10px;
  border: none;
  rotate: -50deg;
  position: absolute;
  top: 60px;
  left: -161px;
}
.arrow-header .dlb {
  background-color: var(--primary-clr-yellow);
  width: 50px;
  height: 10px;
  border: none;
  rotate: 50deg;
  position: absolute;
  top: 100px;
  left: -161px;
}

.hl1-header {
  background-color: var(--primary-clr-yellow);
  width: 200vw;
  height: 10px;
  position: absolute;
  border: none;
}

.apply__container__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  margin-block: 10%;
}
.apply__container__container .apply__container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: var(--secondary-clr-lightgrey);
  padding-block: 1.5rem;
}
.apply__container__container .apply_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 247px;
  height: 53px;
  background-color: var(--primary-clr-yellow);
  margin-inline: auto;
  color: white;
}

.apply_btn:hover {
  color: var(--primary-clr-yellow);
  background-color: white;
  border: 2px solid var(--primary-clr-yellow);
}

@media (min-width: 768px) {
  .apply__container__container {
    text-align: left;
  }
  .apply__container__container .apply__container {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 2rem 2rem;
    padding-inline: 3rem;
  }
  .apply__container__container .apply_btn {
    grid-row: span 2;
    align-self: center;
    width: 180px;
  }
}
.location__container {
  display: grid;
  text-align: center;
  margin-inline: auto;
  max-width: 1440px;
}
.location__container .map {
  margin-inline: auto;
  margin-block: 10%;
  height: 152px;
  width: 311px;
  background: url("../assets/img-location/map-mobile.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.location__container .location__cities__container {
  display: grid;
  margin-inline: auto;
  grid-template-rows: 72px 72px 72px 72px;
  gap: 1rem;
}
.location__container .location__cities__container .location__city {
  width: 311px;
  height: 100%;
  background-color: rgba(252, 183, 43, 0.15);
  padding-block: 20px;
}
.location__container h3 {
  display: flex;
  align-items: center;
  margin-top: 3rem;
  width: 200px;
  height: 96px;
  margin-inline: auto;
}
.location__container p {
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-inline: 3vw;
}
.location__container .location__messageUs__container {
  padding-inline: 9vw;
}
.location__container .location__messageUs__container .messageUs-button__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  width: 180px;
  min-width: 180px;
  height: 53px;
  background-color: var(--primary-clr-yellow);
  margin-bottom: 5%;
}
.location__container .location__messageUs__container a {
  color: white;
}

@media screen and (min-width: 768px) {
  .location__container .location__cities__container {
    display: none;
  }
  .location__container .map {
    height: 337px;
    width: 689px;
    background-size: contain;
    background: url("../assets/img-location/map-tablet.png");
    background-repeat: no-repeat;
  }
  .location__container .location__messageUs__container h3 {
    width: 303px;
    height: 96px;
    margin-top: 0;
  }
  .location__container .location__messageUs__container p {
    margin-inline: 9vw;
  }
}
@media (min-width: 1440px) {
  .location__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    padding-inline: 0;
  }
  .location__container .map {
    min-width: 1110px;
    min-height: 543px;
    margin-inline: auto;
    background-size: contain;
    background: url("../assets/img-location/map-desktop.png");
    background-repeat: no-repeat;
  }
  .location__container .location__messageUs__container {
    display: flex;
    flex-direction: row;
    margin-bottom: 8%;
    gap: 6rem;
    width: 100%;
    padding-inline: 9vw;
  }
  .location__container .location__messageUs__container .messageUs-button__container {
    margin-block: auto;
  }
  .location__container .location__messageUs__container h3 {
    margin-top: 0;
    margin-inline: 0vw;
    text-align: left;
    min-width: 18rem;
  }
  .location__container .location__messageUs__container p {
    margin-top: 0;
    margin-inline: 0vw;
    text-align: left;
  }
}
@media (min-width: 1440px) and (max-width: 1439px) {
  .messageUs-button__container {
    margin-block: 5vh;
  }
}
@media (min-width: 2500px) {
  .location__container .location__messageUs__container {
    padding-inline: 2vw;
  }
}/*# sourceMappingURL=style.css.map */